.photos-wrapper {
  height: 30vw;
  width: 23vw;
  border: black solid;
  margin: 4px 4px 4px 4px;
}
.photos {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.photos-wrapper:hover {
  -ms-transform: skewY(2deg); /* IE 9 */
  transform: skewY(2deg);
}
