.photo-scroller-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  color: #000 !important;
  background-color: #d2eafd !important;
}
.photo-scroller {
  position: relative;
  height: 80vh;
  width: 100%;
  padding: 50px;
  padding-bottom: 5px;
  margin: auto;
  color: #000 !important;
  background-color: #f2f9fe !important;
}
.scroller-photo-wrapper {
  height: 100%;
  width: 100%;
  border: 1px solid black;
}
.download-button {
  position: absolute;
  top: 0;
  left: 0;
  color: green;
  font-size: 40px;
  text-decoration: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.photo-scroller-x {
  position: absolute;
  top: 0;
  right: 0;
  color: red;
  font-size: 50px;
  transform: translateX(-100%);
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.previous-button {
  position: absolute;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
  transform: translateX(-100%);
  font-size: 50px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.next-button {
  position: absolute;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
  transform: translateX(100%);
  font-size: 50px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.bottom-image-selector {
  border: 1px solid black;
  overflow-y: hidden;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: visible;
  height: 14vh;
  width: 100vw;
  margin: auto;
}

.bottom-images {
  width: 70px;
  height: 70px;
  padding: 5px;
  display: inline-block;
  cursor: pointer;
}

.bottom-selected-image {
  padding: 0;
  width: 80px;
  height: 80px;
  border: 4px solid blue;
}
